[submodule "packages/.github"]
	path = packages/github
	url = git@github.com:keithboice/.github.git
[submodule "dot-conf"]
	path = packages/conf
	url = git@github.com:keithboice/.conf.git
[submodule "dot-idea"]
	path = packages/idea
	url = git@github.com:keithboice/.idea.git
[submodule "dot-run"]
	path = packages/run
	url = git@github.com:keithboice/.run.git
[submodule "dot-docs"]
	path = packages/docs
	url = git@github.com:keithboice/.docs.git
