[submodule "eslint-config-kb"]
	path = packages/eslint-config-kb
	url = https://github.com/keithboice/eslint-config-kb

[submodule ".github"]
	path = .github
	url = https://github.com/keithboice/.github.git

[submodule "workflows"]
	path = .github/workflows
	url = https://github.com/keithboice/templates_.github-workflows.git


[submodule "issue_template"]
	path = .github/ISSUE_TEMPLATE
	url = https://github.com/keithboice/templates_.github_issue-template.git

[submodule ".run"]
	path = .run
	url = https://github.com/keithboice/templates_.run.git

[submodule "grunt"]
	path = conf/grunt
	url = https://github.com/keithboice/templates_conf-grunt.git

[submodule "templates"]
	path = conf/templates
	url = https://github.com/keithboice/templates_conf-templates.git

[submodule "package_base"]
	path = packages/base
	url = https://github.com/keithboice/templates_package_base.git
[submodule "docs2"]
	path = docs2
	url = git@github.com:keithboice/templates_docs.git
