#@kb:registry=registry.npmjs.org/:_authToken=d7d6bcdd-bbdc-4c35-b4dc-992cf6d70ce7
access=public
scope=@kb
prefix=/Users/dkb/.npm-packages
store-dir=./.pnpm-store
node-linker=pnp
symlink=false
pnpmfile=./pnpmfile.js
link-workspace-packages=true
